*{
    font-family: 'Ubuntu', sans-serif !important;
}
.divider-h1 {
    font-size: 29px;
    margin-top: calc(43px - 29px / 2);
    margin-bottom: calc(43px - 29px / 2);
}
.divider-heading-container {
    position: relative;
    z-index: 1;
    text-align: center;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
.divider-heading-container.divider-h1::before {
    border-top: 4px solid rgba(232,235,236,1);
    border-radius: 3px;
    top: calc(50% - 4px / 2);
}
.divider-heading-container::before {
    border-top: 1px solid #000;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.divider-h1 span {
    font-weight: bold;
    font-size: 29px;
    color: rgba(15,16,17,1);
}
.divider-heading-container span {
    background: #fff;
}
.divider-heading-container.divider-h1 span {
    font-weight: bold;
}
.divider-heading-container.divider-h1 span {
    padding: 0 11px;
    font-size: 38px;
    // font-weight: normal;
}

.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }