<div class="banner">
    <h1 class="divider-heading-container divider-h1">
        <span>ABOUT US</span>
    </h1>
</div>
<!-- <div class="container">
<h5 style="font-weight:normal; word-spacing:5px;">From superhero blockbusters to binge-worthy shows and bestselling video games, fan culture has never been bigger or more powerful. It can also be a little bewildering—which is exactly where Blogoulsy comes in. Offering a grab bag of bite-sized news and in-depth information about all your favorite franchises, we're here to serve as an outpost for pop culture enthusiasts of all ages.</h5>
</div>   -->  
<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="about-img">
            <img src="../assets/images/banner.jpg" class="img-fluid rounded" alt="">
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="about-content">
            <h5 style="font-weight:normal; word-spacing:5px;">From superhero blockbusters to binge-worthy shows and bestselling video games, fan culture has never been bigger or more powerful. It can also be a little bewildering—which is exactly where Blogoulsy comes in. Offering a grab bag of bite-sized news and in-depth information about all your favorite franchises, we're here to serve as an outpost for pop culture enthusiasts of all ages.
            Superheroes have their antecedents in the semidivine heroes of myth and legend. Protagonists who exhibit feats of incredible strength, fighting prowess, and cunning are commonplace in both scripture and early secular literature. Comic strips of the early 20th century provided the perfect visual medium for the development for these larger-than-life characters. </h5>
          </div>
        </div>
      </div>
    </div>

  </section>